@media (max-width: 376px) {
  @font-face {
    font-family: "Flood";
    src: url("../Content/FloodStd.otf");
    /* font-style: normal; */
    /* font-weight: normal; */
  }

  #head-bar {
    width: 376px;
    height: 200px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    /* border: 2px solid black; */
  }

  .header {
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 2px solid red; */
  }

  .logo {
    margin-top: 45px;
    margin-left: 32px;
    width: 126px;
    height: 40px;
    text-align: left;
    font: Bold 18px/22px Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
  }

  .nav-links {
    display: grid;
    grid-gap: 12px;
    flex-direction: column;
    margin-top: 33px;
    margin-left: 30px;

  }

  a {
    text-align: left;
    font: lighter 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    text-decoration: none;
  }

  .button {
    position: absolute;
    margin-top: 32px;
    margin-left: 25px;
    width: 312px;
    height: 40px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    ;
    border-radius: 100px;
    opacity: 1;
  }

  .button-name {
    margin: 11px 0px;
    text-align: center;
    font: Bold 18px/22px Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
  }



  .image {
    position: relative;
    width: 376px;
    height: 592px;
    background-image: url("../Content/assets/annie-spratt-135307-unsplash@2x.png");
    background-size: 100% 100%;
    opacity: 0.76;
    /* display: flax; */
    /* flex-direction: column; */

  }


  .second-block {
    position: absolute;
    top: 32px;
    left: 32px;
    font-family: "Flood";
    color: white;
    font: normal 44px/46px Flood;
    letter-spacing: 0;
    color: #FFFFFF;
    width: 181px;
    height: 136px;
    opacity: 1;
  }



  .first-block {
    position: absolute;
    top: 304px;
    left: 32px;
    width: 312px;
    height: 240px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
  }


  .h {
    margin-top: 56px;
    margin-left: 16px;
    width: 278px;
    height: 78px;
    text-align: center;
    font: Bold 22px/28px Helvetica;
    letter-spacing: 0;
    color: #354463;
  }

  .p {
    margin-top: 33px;
    margin-left: 32px;
    width: 248px;
    height: 42px;
    text-decoration: underline;
    font: lighter 15px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
  }


  .issue-tag {
    /* position: absolute; */
    /* top: 285px; */
    /* left: 110px; */
    margin-top: -32px;
    margin-left: 32px;
    width: 160px;
    height: 40px;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
  }


  .issue {
    padding: 10px 38px 12px 44px;
    width: 78px;
    height: 14px;
    text-align: left;
    font: normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1;
  }

  .action-tag {
    position: absolute;
    top: 570px;
    left: 110px;
    width: 160px;
    height: 40px;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .action-text {
    text-align: center;
    font: normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1;
  }

  .action-bar {
    display: grid;
    justify-content: space-evenly;
    width: 376px;
    height: 328px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    opacity: 1;
  }


  .action-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 32px;
    margin-top: 32px;
  }


  .action h3 {

    text-align: left;
    font: Bold 18px/22px Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
  }

  .action p {
    width: 144px;
    height: 62px;
    text-align: left;
    font: lighter 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    margin-right: 20px;
  }
















  .mission-sec {
    position: relative;
    width: 376px;
    height: 1850px;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .main-block {
    display: grid;
    margin-left: 32px;
    margin-right: 32px;
    /* border: 2px solid red;  */
  }

  .tag {
    margin-top: 50px;
    margin-left: 60px;
    width: 160px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .tag-text {
    text-align: center;
    font: normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    opacity: 1;
  }


  .msz {
    width: 302px;
    height: 134px;
    text-align: center;
    font: Bold 22px/28px Helvetica;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
  }

  .grid-box {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 64px;
  }


  .block1 {
    margin-top: 60PX;
    width: 312px;
    height: 415px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .block1 h4 {
    margin-left: 55px;
    margin-top: 35px;
    width: 202px;
    height: 18px;
    text-align: center;
    font: Bold 18px/22px Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
  }


  .block1 p {
    margin-left: 35.5px;
    margin-top: 22x;
    width: 242px;
    height: 94px;
    text-align: center;
    font: lighter 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
  }


  .read {
    margin-top: 31px;
    margin-left: 80px;
    width: 152px;
    height: 40px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
  }

  .read p {
    padding-top: 10px;
    width: 83px;
    height: 16px;
    text-align: left;
    font: Bold 16px/20px Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
  }


  .block1 img {
    /* margin-top: px; */
    margin-top: -33px;
    margin-left: 33px;
    width: 248px;
    height: 176px;
    opacity: 1;
  }







  .grid2 {
    /* display: grid; */
    /* grid-template-rows: 25% auto; */
    /* grid-gap: -5px; */
    /* margin-top: 128px;
  margin-right:232px; */
    left: -1px;
    width: 376px;
    height: 1008px;
    background: transparent url('../Content/Did\ you\ know\ background.png') 0% 0% no-repeat padding-box;
    opacity: 1;

  }

  .tag-line {
    margin-top: 64px;
    margin-left: 32px;
    font-family: "Flood";
    width: 312px;
    height: 192px;
    text-align: left;
    font: normal 44px/46px Flood;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
  }



  .action2 {
    margin-left: 32px;
    margin-top: -25px;
    width: 160px;
    height: 48px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
  }

  .action2 p {
    padding-top: 13px;
    text-align: center;
    font: Bold 18px/22px Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
  }

  .sec2 {
    margin-left: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 24px;
    margin-top: 130px;
    margin-right: 160px;
  }

  .sec2>div {
    width: 312px;
    height: 136px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .b2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* border: 2px solid red; */
  }

  .part1 {
    margin-top: 20px;
    margin-left: 20px;
  }

  .part1 h {
    width: 98px;
    height: 22px;
    text-align: left;
    font: Bold 22px/28px Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
  }

  .part1 img {
    margin-top: 8px;
    /* margin-left: 7px;   */
  }



  .twitter {
    margin-top: 33px;
    margin-right: 40px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    opacity: 1;

  }

  .facebook {
    border-radius: 100%;
    margin-top: 16px;
    margin-right: 40px;
    width: 32px;
    height: 32px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .twitter img {
    margin: 9px 8px 10px 8px;
  }

  .facebook img {
    margin: 8px 12px 8px 12px;
  }

  .tag-bar2 {
    /* margin-top: -70px; */
    width: 160px;
    height: 40px;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .tag-bar2 p {
    margin-top: -40px;
    padding-top: 10px;
    width: 158px;
    height: 18px;
    text-align: center;
    font: normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1;
  }

  .page4 {
    width: 376px;
    height: 800px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .p4b {
    margin-top: 70px;
    margin-left: 32px;
    width: 312px;
    height: 773px;
    /* border: 2px solid blue; */
  }

  .p4b1 {
    margin-top: 20px;
    width: 312px;
    height: 312px;
    background: transparent url('../Content/lady-baby.png') 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .p4b2 {
    position: relative;
    margin-top: 32px;
    width: 312px;
    height: 296px;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
  }


  .p4b2 h {
    position: absolute;
    top: 29px;
    left: 32px;
    width: 248px;
    height: 203px;
    text-align: center;
    font: Bold 22px/28px Helvetica;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
  }


  .p4b2 p {
    padding-top: 275px;
    padding-left: 32px;
    width: 248px;
    height: 18px;
    text-align: center;
    font: normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #FFFFFF;
    opacity: 1;
  }

  .p4btn {
    margin-top: 32px;
    margin-left: 78px;
    width: 156px;
    height: 40px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
  }

  .p4btntxt {
    padding-top: 9px;
    width: 156px;
    height: 22px;
    text-align: center;
    font: Bold 18px/22px Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
  }

  .p4tag1 {
    position: relative;
    top: -20px;
    left: 76px;
    width: 160px;
    height: 40px;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .p4tagtxt {
    padding-top: 9px;
    width: 158px;
    height: 18px;
    text-align: center;
    font: normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1;
  }

  .page5 {
    width: 376px;
    height: 1750px;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
    /* border: 3px solid red; */
  }

  .p5b {
    padding-top: 69px;
    margin-left: 30px;
    width: 312px;
    height: 187px;
    /* border: 2px solid yellowgreen; */
  }

  .p5b h {
    position: relative;
    left: 22px;
    text-align: center;
    font: normal 44px/46px Flood;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
  }

  .p5 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* grid-gap: 20px; */
    /* border: 2px solid red;  */
  }

  .p5b1 {
    position: relative;
    margin-top: 35px;
    margin-left: 30px;
    width: 313px;
    height: 716px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* grid-gap: 30px; */
    /* border: 3px solid red;  */
  }

  .p5b1tag {
    position: absolute;
    top: -20px;
    left: 74px;
    width: 160px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .p5b1tagtxt {
    padding-top: 10px;
    width: 160px;
    height: 18px;
    text-align: center;
    font: normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    opacity: 1;
  }

  .p5b1p1 {
    width: 312px;
    height: 312px;
    background: transparent url('../Content/tree-planting.png') 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .p5b1p2 h {
    position: relative;
    left: 12px;
    /* width: 313px; */
    /* height: 66px; */
    text-align: center;
    font: Bold 22px/28px Helvetica;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
  }

  .p5b1p2 p {
    position: relative;
    left: 10px;
    width: 313px;
    height: 128px;
    text-align: left;
    font: lighter 17px/24px Helvetica;
    letter-spacing: -0.4px;
    color: #FFFFFF;
    opacity: 1;
  }

  .p5b1btn {
    position: relative;
    top: 30px;
    left: 76px;
    width: 160px;
    height: 48px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
  }

  .p5b1btntxt {
    padding-top: 10px;
    width: 160px;
    height: 22px;
    text-align: center;
    font: Bold 18px/22px Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
  }




  .p5b2 {
    position: relative;
    margin-top: 35px;
    margin-left: 30px;
    width: 313px;
    height: 716px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* grid-gap: 30px; */
    /* border: 3px solid red;  */
  }

  .p5b2tag {
    position: absolute;
    top: -20px;
    left: 74px;
    width: 160px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .p5b2tagtxt {
    padding-top: 10px;
    width: 160px;
    height: 18px;
    text-align: center;
    font: normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    opacity: 1;
  }

  .p5b2p1 {
    width: 312px;
    height: 312px;
    background: transparent url('../Content/meeting.png') 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .p5b2p2 h {
    position: relative;
    left: 12px;
    /* width: 313px; */
    /* height: 66px; */
    text-align: center;
    font: Bold 22px/28px Helvetica;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
  }

  .p5b2p2 p {
    position: relative;
    left: 10px;
    width: 313px;
    height: 128px;
    text-align: left;
    font: lighter 17px/24px Helvetica;
    letter-spacing: -0.4px;
    color: #FFFFFF;
    opacity: 1;
  }

  .p5b2btn {
    position: relative;
    top: 30px;
    left: 76px;
    width: 160px;
    height: 48px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
  }

  .p5b2btntxt {
    padding-top: 10px;
    width: 160px;
    height: 22px;
    text-align: center;
    font: Bold 18px/22px Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
  }

  .email {
    width: 376px;
    height: 216px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    opacity: 1;
    display: grid;
  }

  .blc1 {
    margin-left: 32px;
    width: 322px;
    height: 78px;
    text-align: left;
    font: Bold 14px/28px Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
  }


  .blc2 input {
    padding-left: 50px;
    left: 32px;
    width: 192px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
  }

  .blc2 button {
    width: 112px;
    height: 40px;
    background: #354463 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
  }

  .btxt {
    padding-left: 8px;
    width: 77px;
    height: 16px;
    text-align: left;
    font: Bold 16px/19px Helvetica;
    letter-spacing: 0;
    color: #C1F7D5;
    opacity: 1;
  }

  .footer {
    position: relative;
    /* width: 376px; */
    height: 550px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .ftitle {
    margin-top: 67px;
    margin-left: 32px;
    width: 94px;
    height: 62px;
    text-align: left;
    font: Bold 18px/22px Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
  }

  .l1 {
    left: 192px;
    position: absolute;
    top: 0px;

  }

  .l1 h2 {
    left: 193px;
    width: 74px;
    height: 11px;
    text-align: left;
    font: normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    opacity: 1;
  }

  .l1 p {
    left: 192px;
    width: 126px;
    height: 74px;
    text-align: left;
    font: lighter 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
  }

  .l2 {
    /* left: 192px; */
    position: absolute;
    top: 200px;
    left: 32px;
  }

  .l2 h2 {
    /* left: 193px; */
    /* width: 74px; */
    height: 11px;
    text-align: left;
    font: normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    opacity: 1;
  }

  .l2 p {
    width: 62px;
    height: 110px;
    text-align: left;
    text-decoration: underline;
    font: lighter 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    text-decoration: underline;
  }

  .l3 {
    left: 192px;
    position: absolute;
    top: 200px;
  }

  .l3 h2 {
    /* left: 193px;
  width: 74px; */
    height: 11px;
    text-align: left;
    font: normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    opacity: 1;
  }

  .l3 p {
    left: 192px;
    width: 80px;
    height: 86px;
    text-align: left;
    text-decoration: underline;
    font: lighter 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    text-decoration: underline;
  }

  .fmsz {
    position: absolute;
    bottom: 55px;
    margin-left: 160px;
    width: 181px;
    height: 136px;
    text-align: right;
    font: normal 44px/46px Flood;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
  }

}