@media (min-width: 377px) {
  @font-face {
    font-family: "Flood";
    src: url("../Content/FloodStd.otf");
  }

  #head-bar {
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 12vw;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .logo {
    margin: 15% 0px 0px 50%;
    font: Bold 1.6vw Helvetica;
    text-align: left;
    color: #354463;
    opacity: 1;
    letter-spacing: 0;
    width: 70%;
    height: 50%;
  }

  .nav-links {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 40%;
    width: 100%;
  }

  a {
    font: lighter 1.4vw Helvetica;
    /* text-align: left; */
    letter-spacing: -0.16px;
    color: #354463;
    text-decoration: none;
  }

  .button {
    margin-top: 15%;
    width: 12vw;
    height: 4vw;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
  }

  .button-name {
    margin: 1.2vw;
    text-align: center;
    font: Bold 1.3vw Helvetica;
    color: #354463;
  }



  .image {
    position: relative;
    width: 100%;
    height: 49vw;
    background-image: url("../Content/assets/home/annie-spratt-135307-unsplash@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
  }

  .first-block {
    position: relative;
    top: 10%;
    left: 10%;
    width: 42%;
    height: 65%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
  }

  .h {
    margin: 10% 0px 0px 14%;
    width: 80%;
    text-align: left;
    font: Bold 3.2vw Helvetica;
    color: #354463;
  }

  .p {
    position: absolute;
    left: 12%;
    top: 70%;
    text-decoration: underline;
    font: lighter 1.3vw Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
  }

  .second-block {
    position: absolute;
    top: 9%;
    left: 64%;
    font-family: "Flood";
    color: white;
    font-size: 5vw;
  }


  .issue-tag {
    margin-top: -6%;
    margin-left: 22px;
    width: 12vw;
    height: 3.2vw;
    background: #354463 0% 0% no-repeat padding-box;
  }


  .issue {
    padding-top: 1vw;
    text-align: center;
    font: normal 1vw Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
  }

  .action-tag {
    position: absolute;
    top: 97%;
    left: 46%;
    width: 12vw;
    height: 3.3vw;
    background: #354463 0% 0% no-repeat padding-box;
    /* opacity: 1; */
  }

  .action-text {
    text-align: center;
    font: normal 1vw Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
  }


  .action-bar {
    display: grid;
    width: 100%;
    background: #C1F7D5 0% 0% no-repeat padding-box;
  }

  .action-box {
    margin: 6% 0% 5% 0%;
    display: flex;
  }

  .action {
    padding: 0vw 1.5vw 0vw 4vw;
  }

  .action h3 {
    height: 1.5vw;
    font: Bold 2.2vw Helvetica;
    color: #354463;
  }

  .action p {
    font: lighter 1.1vw Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
  }

  .mission-sec {
    width: 100%;
    height: 71vw;
    background: #354463 0% 0% no-repeat padding-box;
  }

  .main-block {
    display: grid;
    margin-left: 8%;
    margin-right: 8%;
  }

  .tag {
    margin-top: 5%;
    width: 14%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
  }

  .tag-text {
    text-align: center;
    font: normal 1vw Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
  }


  .msz {
    text-align: left;
    font: Bold 3vw Helvetica;
    letter-spacing: 0;
    color: #FFFFFF;
    padding-bottom: 4%;
  }

  .grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4%;
  }


  .block1 {
    width: 90%;
    height: 40vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
  }

  .block1 h4 {
    margin-top: 2vw;
    margin-left: 10%;
    text-align: left;
    font: Bold 2vw Helvetica;
    color: #354463;
  }

  .block1 p {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    font: lighter 1.2vw Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
  }

  .read {
    margin-top: 3vw;
    margin-left: 10%;
    width: 11vw;
    height: 3.3vw;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
  }

  .read p {
    padding-top: 1vw;
    text-align: center;
    font: Bold 1.3vw Helvetica;
    color: #354463;
  }

  .block1 img {
    margin-top: -32px;
    margin-left: 32px;
    width: 100%;
  }


  /* climate change is a hunger Issue */



  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 90vw;
    background: transparent url('../Content/assets/home/did-you-know-background.png') 0% 0% no-repeat padding-box;
  }

  .tag-line {
    padding-top: 5%;
    padding-left: 18%;
    font-family: "Flood";
    color: white;
    font-size: 5vw;
    width: 60%;
    height: 20vw;
  }

  .action2 {
    margin-left: 18%;
    margin-top: 30%;
    width: 11vw;
    height: 3.3vw;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
  }

  .action2 p {
    padding-top: 1vw;
    text-align: center;
    font: Bold 1.3vw Helvetica;
    color: #354463;
  }

  .sec2 {
    display: grid;
    grid-template-rows: 21% 21% 21% 21%;
    grid-gap: 5%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-right: 20%;
  }

  .sec2>div {
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
  }

  .b2 {
    display: grid;
    grid-template-columns: 4fr 1.1fr;
  }

  .part1 {
    margin-top: 9%;
    margin-left: 15%;
  }

  .part1 h {
    text-align: left;
    font: Bold 3.4vw Helvetica;
    color: #354463;
  }

  .part1 img {
    padding-top: 3%;
    width: 18vw;
    opacity: 0.8;
  }

  .twitter {
    border-radius: 100%;
    margin-top: 4vw;
    width: 30px;
    height: 30px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
  }

  .facebook {
    border-radius: 100%;
    margin-top: 2vw;
    width: 30px;
    height: 30px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
  }

  .twitter img {
    margin: 9px 8px 10px 8px;
  }

  .facebook img {
    margin: 8px 12px 8px 12px;
  }

  .tag-bar2 {
    margin-top: -21%;
    width: 11.4vw;
    height: 3vw;
    background: #354463 0% 0% no-repeat padding-box;
  }

  .tag-bar2 p {
    padding-top: 10px;
    text-align: center;
    font: normal 1vw Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
  }



  .page4 {
    left: 0px;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
  }


  .p4b {
    position: relative;
    margin-top: 8%;
    margin-left: 8%;
  }

  .p4b1 {
    margin-left: 40%;
    height: 45vw;
    background: transparent url('../Content/assets/home/lady-baby.png') 0% 0% no-repeat padding-box;
  }


  .p4b2 {
    position: absolute;
    top: 17%;
    width: 40vw;
    height: 26vw;
    background: #354463 0% 0% no-repeat padding-box;
  }


  .p4b2 h {
    position: absolute;
    top: 14%;
    left: 10%;
    width: 31vw;
    text-align: left;
    font: Bold 2.1vw Helvetica;
    color: #FFFFFF;
  }


  .p4b2 p {
    margin-top: 53%;
    margin-left: 10%;
    font: normal 1vw Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
  }

  .p4btn {
    position: relative;
    bottom: 5vw;
    width: 11vw;
    height: 4vw;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
  }

  .p4btntxt {
    padding-top: 1vw;
    text-align: center;
    font: Bold 1.4vw Helvetica;
    color: #354463;
  }

  .p4tag1 {
    position: relative;
    top: -3%;
    left: 30px;
    width: 12vw;
    height: 3vw;
    background: #354463 0% 0% no-repeat padding-box;
  }

  .p4tagtxt {
    padding-top: 1vw;
    text-align: center;
    font: normal 1vw Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
  }


  /* page5 */

  .page5 {
    width: 100%;
    background: #354463 0% 0% no-repeat padding-box;
  }

  .p5b {
    padding-top: 5%;
    margin-left: 8%;
    width: 70%;
  }

  .p5b h {
    text-align: left;
    font: normal 5.3vw Flood;
    color: #FFFFFF;
  }


  .p5 {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }


  .p5b1 {
    padding: 6% 8% 0% 8%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8%;
  }



  .p5b1p1 {
    height: 36vw;
    background: transparent url('../Content/assets/tree-planting.png') 0% 0% no-repeat padding-box;
  }

  .p5b1tag {
    width: 12vw;
    height: 3vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
  }

  .p5b1tagtxt {
    padding-top: 0.9vw;
    text-align: center;
    font: normal 1vw Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
  }

  .p5b1p2 h {
    position: relative;
    top: 9%;
    text-align: left;
    font: Bold 3vw Helvetica;
    color: #FFFFFF;
  }

  .p5b1p2 p {
    position: relative;
    top: 10%;
    width: 90%;
    height: 25%;
    text-align: left;
    font: lighter 1.5vw/2vw Helvetica;
    color: #FFFFFF;
  }

  .p5b1btn {
    position: relative;
    top: 12%;
    width: 12vw;
    height: 3.6vw;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
  }

  .p5b1btntxt {
    padding-top: 1vw;
    text-align: center;
    font: Bold 1.3vw Helvetica;
    color: #354463;
  }





  .p5b2 {
    padding: 4% 8% 8% 8%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8%;
    grid-template-areas: "div1 div2";
  }

  .p5b2p1 {
    grid-area: div2;
    height: 36vw;
    background: transparent url('../Content/meeting.png') 0% 0% no-repeat padding-box;
  }


  .p5b2tag {
    grid-area: div1;
    width: 12vw;
    height: 3vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
  }

  .p5b2tagtxt {
    padding-top: 1vw;
    text-align: center;
    font: normal 1vw Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
  }

  .p5b2p2 h {
    position: relative;
    top: 9%;
    text-align: left;
    font: Bold 3vw Helvetica;
    color: #FFFFFF;
  }

  .p5b2p2 p {
    position: relative;
    top: 10%;
    width: 90%;
    height: 25%;
    text-align: left;
    font: lighter 1.5vw/2vw Helvetica;
    color: #FFFFFF;
  }

  .p5b2btn {
    position: relative;
    top: 25%;
    width: 12vw;
    height: 3.4vw;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
  }

  .p5b2btntxt {
    padding-top: 1vw;
    text-align: center;
    font: Bold 1.3vw Helvetica;
    color: #354463;
  }

  .email {
    position: relative;
    width: 100%;
    height: 18vw;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    display: grid;
  }


  .blc1 {
    margin-top: 4.4%;
    margin-left: 11%;
    width: 40%;
    font: Bold 2vw Helvetica;
    color: #354463;
  }


  .blc2 {
    position: absolute;
    margin-left: 57vw;
    top: 40%;
  }



  .blc2 input {
    padding-left: 4.6vw;
    width: 15vw;
    height: 3vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 100px;
  }


  .blc2 button {
    width: 10vw;
    height: 3vw;
    background: #354463 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
  }

  .btxt {
    text-align: center;
    font: Bold 1.3vw Helvetica;
    color: #C1F7D5;
  }

  .footer {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 6% 6% 6% 6%;
  }


  .ftitle {
    width: 12vw;
    font: Bold 1.6vw Helvetica;
    color: #354463;
  }


  .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .links h2 {
    font: normal 1vw Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    text-decoration: underline;
  }

  .links p {
    width: 126px;
    text-align: left;
    font: lighter 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
  }

  .fmsz {
    margin-left: 12%;
    height: 136px;
    text-align: right;
    font: normal 3vw Flood;
    color: #354463;
  }

}