@media (min-width:360px){
body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

header {
    width: 100%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.hbox>h2 {
    text-align: center;
    font: Bold 2vw Helvetica;
    letter-spacing: 0;
    color: #354463;
}

main {
    width: 100%;
    padding: 7% 0% 7% 0%;
    background-image: url('../Content/annie-spratt-427340-unsplash-\(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 0 6% 0 6%;
    width: 88%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.donation-tag {
    width: 30%;
    font-family: flood-std;
    font-size: 4vw;
    color: white;
}

.formBox {
    width: 48%;
    background-color: #354463;
    padding: 2.5vw 5vw 2vw 5vw;
    height: 60vw;
}


form {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2%;
}

.per-info {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.per-info-heading {
    width: 100%;
    font: Bold 1.4vw Helvetica;
    color: #FFFFFF;
}

.Input-field-2 {
    width: 45%;
    margin-bottom: 1vw;
    text-align: left;
    font: normal 80% Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
}

.Input-field-1 {
    width: 100%;
    margin-bottom: 1.5vw;
    text-align: left;
    font: normal 80% Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
}

.Input-field-3 {
    width: 17.5%;
    text-align: left;
    font: normal 80% Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
}

.expire {
    width: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: left;
    font: normal 80% Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
}

.s-code {
    width: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    text-align: left;
    font: normal 80% Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
}

input {
    border: none;
    background: #354463;
    border-bottom: 0.2vw solid #C1F7D5;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    text-align: left;
    font: lighter 100% Helvetica;
    letter-spacing: -0.4px;
    color: #FFFFFF;
    opacity: 0.8;
}

select {
    border: none;
    background: #354463;
    border-bottom: .1vw solid #C1F7D5;
    font-size: 1.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    color: #C1F7D5;
}

label {
    width: 100%;
    font-size: 0.9vw;
    min-height: 2vw;
}

.medium-input {
    width: 100%;
}

.large-input {
    width: 100%;
}

.small-input {
    width: 100%;
}

.opt {
    width: 80%;
    height: 2.4vw;
    font-size: 14px;
    border-bottom: 0.2vw solid #C1F7D5;
}

.small-input-two {
    width: 43%;
}


.payment {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
}

.back-link {
    color: #C1F7D5;
    font-size: .9vw;
}

.donate-today {
    width: 41%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button {
    width: 15vw;
    height: 4vw;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    text-decoration: none;
}

.button>p {
    text-align: center;
    font: Bold 1.4vw Helvetica;
    color: #354463;
}


footer {
    width: 100%;
    margin-bottom: 3vw;
    padding-top: 2vw;
}

.footer-title {
    width: 20%;
    height: 100%;
    font-size: 1.5vw;
    text-align: left;
    color: #354463;
}

.nav {
    width: 80%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.nav-items {
    width: 20%;
    height: auto;
    align-content: center;
    color: #354463;
    font: normal 1.3vw Helvetica;
}

.nav-items>p {
    text-align: left;
    font: lighter 1.1vw Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}


.links {
    list-style-type: none;
    padding: 0;
    text-align: left;
    font: lighter 1.1vw Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.footer-inner {
    width: 20%;
    font-family: flood-std;
    font-size: 3vw;
    text-align: end;
    color: #354463;
}


/* **************** tab ***************** */

@media (min-width: 768px) and (max-width: 991px) {

    .hbox>h2 {
        font: Bold 3vw Helvetica;
    }

    form {
        display: grid;
        grid-template-rows: 3.8fr 2.4fr 1fr 1fr;
        grid-gap: 1%;
    }

    .donation-tag {
        width: 100%;
        order: -1;
        font-size: 5vw;
        text-align: center;
    }

    .per-info-heading>h2 {
        font-size: 220%;
    }

    .formBox {
        width: 100%;
        padding: 6vw;
        height: 90vw;
    }

    label {
        font-size: 1.5vw;
    }

    .button {
        width: 22vw;
        height: 6vw;
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        text-decoration: none;
    }

    .button>p {

        font: Bold 2.2vw Helvetica;
    }

    .back-link {
        color: #C1F7D5;
        font-size: 2vw;
    }

    .opt {
        width: 100%;
        height: 28px;
        font-size: 12px;
        border-bottom: 0.2vw solid #C1F7D5;
    }

    .nav-items {
        width: 34%;
        height: 35%;
        font-size: 2vw;
    }

    .nav-items>p {
        text-align: left;
        font: lighter 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
    }

    .links {
        text-align: left;
        text-decoration: underline;
        font: lighter 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
    }

    footer {
        display: flex;
        height: 20vw;
    }

    .footer-inner {
        width: 33%;
        font-family: flood-std;
        font-size: 6vw;
        text-align: unset;
    }

    .footer-title {
        width: 29%;
        height: 100%;
        font-size: 3.2vw;
        text-align: left;
    }

    footer>.container {
        justify-content: flex-end;
    }
}


/*-----------------------------------------------MOBILE---------------------*/

@media (max-width: 768px) {
    main {
        background: transparent url("../Donation/mobile/annie-spratt-427340-unsplash-\(1\)@2x.png") 0% 0% no-repeat padding-box;
    }

    header {
        margin-bottom: 6%;
        margin-top: 6%;
    }

    .hbox>h2 {
        text-align: center;
        font: Bold 5vw Helvetica;
        letter-spacing: 0;
        color: #354463;
    }

    .container {
        margin: 0 4% 0 4%;
        width: 92%;
    }

    .per-info-heading>h2 {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    input {
        border-bottom: 0.7vw solid #C1F7D5;
        padding-top: 2vw;
    }

    .formBox {
        width: 100%;
        padding: 2vw 6vw 0vw 6vw;
        height: 200vw;
    }

    .donation-tag {
        width: 100%;
        order: -1;
        font-size: 7vw;
        text-align: center;
    }

    form {
        display: grid;
        grid-template-rows: 4fr 3fr 1fr 1fr;
        grid-gap: 1%;
    }

    .per-info-heading {
        font-size: 4vw;
    }

    label {
        font-size: 3vw;
        letter-spacing: 0.44px;
    }

    .back-link {
        color: #C1F7D5;
        font-size: 5vw;
    }

    .donate-today {
        width: 100%;
        order: -1;
        justify-content: center;
    }

    .button {
        width: 55vw;
        height: 9vw;
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        text-decoration: none;
        padding-bottom: 5vw;
    }

    .button>p {

        font: Bold 5vw Helvetica;
    }

    .opt {
        width: 100%;
        height: 5.7vw;
        font-size: 2vw;
        border-bottom: 0.7vw solid #C1F7D5;
    }

    .nav-items {
        width: 34%;
        height: 35%;
        font-size: 4vw;
    }

    .nav-items>p {
        text-align: left;
        font: lighter 3.5vw Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
    }

    .links {
        text-align: left;
        text-decoration: underline;
        font: lighter 3.5vw Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
    }

    footer>.container {
        height: 100vw;
        padding: 5vw 2vw 10vw 2vw;
        justify-content: flex-end;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .footer-title {
        margin-top: 0px;
        width: 40vw;
        height: 40vw;
        text-align: left;
        font: Bold 7vw Helvetica;
        letter-spacing: 0;
        color: #354463;
    }

    .footer-inner {

        width: 51%;
        font-family: flood-std;
        font-size: 9vw;
        text-align: right;
        margin-left: 37vw;
    }
}
}